body {
    margin: 0px;
    padding: 0px;
    background: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.left {
    width: 40%;
    margin: 12px;
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    color: black;
    font-family: "Playwrite IS", cursive;
    text-decoration: none;
    padding: 25px;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: grey;
}

.mid {
    position: absolute;
    top: 10px;
    left: 810px;
}

.mid img {
    width: 250px;
}

.right {
    position: absolute;
    right: 5px;
    top: 12px;
    display: inline-block;
    padding: 8px;
}

.btn {
    font-family: "Playwrite IS", cursive;
    margin: 8px;
    border-radius: 15px;
    cursor: pointer;
}

.btn:hover {
    background-color: grey;
}

.heading {
    position: absolute;
    top: 130px;
    left: 650px;
    right: 110px;
    text-align: justify;

}

.intro {
    font-style: italic;
    text-decoration: solid;
}

.icon {
    position: absolute;
    right: 30px;
    bottom: 12px;
    padding: 35px;
}